.search-form {
    max-width: 800px;
    margin: 0 auto;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--color-bg);
    margin: 1rem 0;
    padding: 0;
}

.search-form__input::placeholder {
    opacity: 0.5;
}

.search-form__input {
    width: 100%;
    border: 2px solid var(--color-purple);
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-family: var(--font);
    font-size: 0.95rem;
}

.search-form__input:focus {
    outline: none;
    box-shadow: 0 0 5px 1px var(--color-purple);
}