.coins__sub-title {
    text-align: center;
}

.btn {
    background-color: var(--color-purple);
    border: none;
    border-radius: 2rem;
    color: var(--color-bg);
}

.coins__load-more {
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.15rem;
    align-self: center;
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
}
.btn.coins__load-more.coins__load-more--disabled {
    background-color: var(--color-hamburger);
}

.coins__load-more__wrapper {
    margin-top: 2rem;
}
