.marquee {
    min-height: 40vh;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.marquee__title {
    margin-top: 1rem;
    text-align: center;
} 

@keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }

    100% {
        transform: translateX(calc(-1*180px*20));
    }
}

.marquee__content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    animation: scrolling 80s linear infinite;
    column-gap: 0.5rem;
}

.marquee__content:hover {
    animation-play-state: paused;
}

/* .marquee__content li {
    display: flex;
    border: 2px solid black;
    width: 30%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    white-space: nowrap;
} */