.marquee {
    background-color: aqua;
    height: 20vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.marquee::before,
.marquee::after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: '';
    z-index: 1;
}

.marquee::before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee::after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}

@keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }

    100% {
        transform: translateX(calc(-1*20vw*9));
    }
}

.marquee__content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    animation: scrolling 10s linear infinite;
}

.marquee__content:hover {
    animation-play-state: paused;
}

.marquee__content li {
    display: flex;
    border: 2px solid black;
    width: 30%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    white-space: nowrap;
}