@media (min-width: 700px) {
    :root {
        --side2side-left: 200%;
        --side2side-right: -200%;
        --side2side-time: 20s;
    }

    .logo {
        width: 5.5rem;
        height: 2rem;
        aspect-ratio: 35 / 4;
    }

    .coins__wrapper,
    .coin-details-upper-section__wrapper,
    .coin-details-middle-section__wrapper,
    .coin-details__news__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .global-stats__title {
        font-size: 2.5rem;
    }

    .best-coins__title,
    .newest-coins__title {
        font-size: 1.5rem;
    }

    .coins__title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .global-stats__article__title {
        font-size: 1.75rem;
    }

    .global-stats__article__text {
        font-size: 1.25rem;
    }

    .coin {
        width: 50px;
        height: 50px;
    }

    .coin-details__title span {
        display: inline-block;
    }
    
    .coin-details__supply-stats {
        margin: 0;
    }

    .hero__section {
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero__section__wrapper {
        display: flex;
    }

    .hero__section__banner {
        max-width: 650px;
        width: 70%;
    }

    .hero__section__title {
        align-self: center;
    }

    canvas {
        max-height: 500px;
    }

    .navbar__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__toggle {
        display: none;
    }

    .navbar__list {
        display: flex;
        margin: 0;
        column-gap: 3.5rem;
    }

    .navbar__list__item {
        margin: 0;
        transition: 200ms;
    }
    
    .navbar__list__link {
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
    }
    
    .navbar__list__link--active {
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
        color: white;
        background-color: var(--color-purple);
        transition: 200ms;
    }

    .coin__wrapper:hover {
        transition: 200ms;
        scale: 1.1;
    }

}

@media (min-width: 1000px) {
    .coins__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}